*{
  margin: 0;
  padding:0;
  list-style: none;
}
.panels {
  height: 100vh;
  display: flex;
  /* overflow: hidden; */
}
.panel1 { background-image: url(https://i.picsum.photos/id/530/1500/1500.jpg); }
.panel2 { background-image: url(https://i.picsum.photos/id/520/1500/1500.jpg); }
.panel3 { background-image: url(https://i.picsum.photos/id/510/1500/1500.jpg); }
.panel4 { background-image: url(https://i.picsum.photos/id/500/1500/1500.jpg); }
.panel5 { background-image: url(https://i.picsum.photos/id/490/1500/1500.jpg); }
.panel6 { background-image: url(https://i.picsum.photos/id/480/1500/1500.jpg); }
.panel7 { background-image: url(https://i.picsum.photos/id/450/1500/1500.jpg); }

.panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Safari transitionend event.propertyName === flex */
  /* Chrome + FF transitionend event.propertyName === flex-grow */
  transition:
  font-size 0.1s cubic-bezier(0.61,-0.19, 0.7,-0.11),
  flex 0.1s cubic-bezier(0.61,-0.19, 0.7,-0.11);
}
.panel p {
  text-transform: uppercase;
  flex: 1;
  display: flex;
  align-items: center;
  font-size: 0.8rem;
}
.panel > p:first-child { transform: translateY(-100%) }
.panel > p:last-child { transform: translateY(100%) }

/* JavaSript control effect */
.panel.open {
  flex: 7;
  font-size: 1.2rem;
  font-weight: bold;
}
.panel.open p:nth-child(2) {
  font-size: 1.5rem;
  color: #888888;
  font-weight: bold;
}
.panel.open-active > p:first-child { transform: translateY(0) }
.panel.open-active > p:last-child { transform: translateY(0) }
